{{define "head"}}
  <script type="text/javascript" src="/js/a_form_raport.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/a_reservations.css"/>
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
  <script type="text/javascript" src="/js/datatables.min.js"></script> 
  <script type="text/javascript" src="/js/bootbox.min.js"></script> 
  <script type="text/javascript" src="/js/bootbox.locales.min.js"></script> 
  <title>{{.LBLTitle}}</title>
{{end}}
{{define "body"}}
  <div class="d-flex justify-content-center">
    <div class="col-md-12">
      <h3>{{.LBLTitle}}</h3>
      <input id="formtmpl-id" type="hidden" value={{.FormTmplID}}>
      <div>{{.HTMLNotificationHowTo}}</div>
      <div class="input-group">
        <select name="ba-select" id="ba-select" class="custom-select">
          <option value="0" selected>{{.LBLSelectNotification}}</option>
          {{range .Notifications}}
          <option value="{{.ID}}">{{.Name}}</option>
          {{end}}
        </select>
      </div>
      <table id="form-raport" class="table table-bordered">
        <thead>
          <tr>
          {{range .FormFields}}
            <th scope="col">{{.Display}}</th>
          {{end}}
          </tr>
        </thead>
        <tbody>
          {{range .AnswersRows}}
          <tr>
            {{range .}}
            <td id="{{.AnswerID}}" data-formid="{{.FormID}}">{{.Value}}</td>
            {{end}}
          </tr>
          {{end}}
        </tbody>
        <tfoot>
          <tr>
            {{range $i, $e := .FormFields}}
            <td id="tfoot{{$i}}"></td>
            {{end}}
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{{end}}
