{{define "head"}}<title>{{.LBLTitle}}</title>
<script type="text/javascript" src="/js/admin.js"></script>
<link href="/css/admin.css" rel="stylesheet" type="text/css">
<link href="/css/quill.snow.css" rel="stylesheet">
<script src="/js/quill.min.js"></script>
{{end}}
{{define "body"}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{.LBLMsgTitle}}</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="controls">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="{{.LBLNewEventPlaceholder}}" aria-label="{{.LBLNewEventPlaceholder}}" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">{{.BTNAddEvent}}</button>
    </div>
  </div>

  <div class="input-group">
    <form id="events-select-form" action="/admin/event" method="POST">
    <select name="events-select" id="events-select" class="custom-select">
      <option value="0" selected>{{.LBLSelectEvent}}</option>
      {{range .Events}}
      <option value="{{.ID}}">{{.Name}}</option>
      {{end}}
    </select>
    </form>
    <div class="input-group-append">
      <button id="edit-room" class="btn btn-outline-secondary" type="button" onclick="EventEdit()" >{{.BTNEventEdit}}</button>
      <button class="btn btn-outline-secondary" type="button">{{.BTNEventDelete}}</button>
    </div>
  </div>
  
    <!-- <button id="add-room" class="btn btn-primary">{{.BTNAddRoom}}</button>
    <button id="add-event" class="btn btn-primary">{{.BTNAddEvent}}</button> -->
</div>
{{end}}
