{{define "head"}}
  <title>{{.LBLTitle}}</title>
  <script src="/js/form-render.min.js"></script>
  <script src="/js/jquery.redirect.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/form_renderer.css"/>
{{end}}
{{define "body"}}
  <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <h4>{{.LBLTitle}}</h4>
        {{if ne .ImgBanner ""}}<img id='tb' src="{{.ImgBannerRootDir}}/{{.ImgBanner}}" alt="">{{end}}
        <p>{{.LBLHowTo}}</p>
      </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    {{if eq .FormInfoPanel ""}}
    <div class="col-md-8">
    {{else}}
    <div class="col-md-6">
    {{end}}
      {{if ne .UniqID ""}}<p>{{.UniqIDTitle}}<b id='uniqid'>{{.UniqID}}</b></p>{{end}}
      <form id="form-rendered">
        <div id="fb-render"></div>
      </form>
      <div class="d-flex justify-content-center">
        <button id="save" class="btn btn-primary mt-3" onclick="SendFormData()">{{.BTNSave}}</button>
        <p></p>
      </div>
    </div>
    {{if ne .FormInfoPanel ""}}
    <div id="infopanel">
      {{.FormInfoPanel}}
    </div>
    {{end}}
  </div>

  <script type="text/javascript" src="/js/form-field-multiplier.js"></script>
  <script>
    // we are setting it here, I can not figure out how to get setData to work after render
    var renderDiv = $('#fb-render');
    var formRender = renderDiv.formRender({
            formData: {{.FormDataVal}},
            i18n: {
                locale: 'pl-PL',
                location: '/js/',
                override: {
                    'pl-PL': {
                        other: 'Inne'
                    }
                }
            },
            templates: templates, // here we added custom
            fields: customFields,
            typeUserAttrs: userAttrs

            //layoutTemplates: {
            //  default: function(field, label, help, data) {
            //    $(field).addClass('form-control'); // add form-control to all fields (bootstrap)
            //    return $('<div/>').append(label, field, help);
            //  }
        //}
    });
  </script>
  <script type="text/javascript" src="/js/form-renderer.js"></script>

{{end}}
