{{define "head"}}  <link href="/css/room.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/order.js"></script>
  <title>{{.LBLTitle}}</title>
{{end}}
{{define "body"}}
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <form action="/order/status" method="POST" class="needs-validation">
      <input id="prices" name="prices" value="{{.LBLPricesValue}}" hidden>
      <input id="rooms" name="rooms" value="{{.LBLRoomsValue}}" hidden>
      <input id="event-id" name="event-id" value="{{.Event.ID}}" hidden>
      <input id="user-url" name="user-url" value="{{.LBLUserURL}}" hidden>

      <div class="row">
          <p>{{.LBLCountdownDescription}}</p>
      </div>
      <div class="row">
          <p id="countdown"></p>
      </div>
      <div class="row">
      <p>{{.LBLOrderHowtoHTML}}</p>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="sits">{{.LBLSits}}</label>
            <input type="text" class="form-control" id="sits" name="sits" value="{{.LBLSitsValue}}" readonly>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="total-price">{{.LBLTotalPrice}}</label>
            <input type="text" class="form-control" id="total-price" name="total-price" value="{{.LBLTotalPriceValue}}" readonly>
          </div>
        </div>
      </div>
 
      <div class="form-group">
        <label for="email">{{.LBLEmail}}<span style="color: red;"> *</span></label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="{{.LBLEmailPlaceholder}}" required>
        <small id="emailHelp" class="form-text text-muted">{{.LBLEmailHelp}}</small>
        <div class="invalid-feedback">
          Email jest konieczny, jednak jako login, jednak otrzymają Państwo na niego potwierdzenie.
        </div>
      </div>
      <!--
      <div class="form-group">
        <label for="password">{{.LBLPassword}}<span style="color: red;"> *</span></label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="{{.LBLPasswordPlaceholder}}" required>
        <small id="passwordHelp" class="form-text text-muted">{{.LBLPasswordHelp}}</small>
      </div>
      -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">{{.LBLName}}<span style="color: red;"> *</span></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{.LBLNamePlaceholder}}" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="surname">{{.LBLSurname}}<span style="color: red;"> *</span></label>
            <input type="text" class="form-control" id="surname" name="surname" placeholder="{{.LBLSurnamePlaceholder}}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">{{.LBLPhone}}</label>
        <input type="phone" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="{{.LBLPhonePlaceholder}}">
        <small id="phoneHelp" class="form-text text-muted">{{.LBLPhoneHelp}}</small>
      </div>
      <div class="form-group">
        <label for="notes">{{.LBLNotes}}</label>
        <textarea class="form-control" id="notes" name="notes" aria-describedby="notesHelp" rows="3" placeholder="{{.LBLNotesPlaceholder}}"></textarea>
        <small id="notesHelp" class="form-text text-muted">{{.LBLNotesHelp}}</small>
      </div>
      <button type="submit" class="btn btn-primary">{{.BTNSubmit}}</button>
      <button type="button" class="btn btn-secondary" onclick="GoBackToRoom()">{{.BTNCancel}}</button>
    </form> 
    </div>
  </div>
{{end}}
