{{define "head"}}  <!-- <link href="/css/room.css" rel="stylesheet" type="text/css"> -->
  <script type="text/javascript" src="/js/room.js"></script>
  <link href="/css/room.css" rel="stylesheet" type="text/css">
  <title>{{.LBLTitle}}</title>
{{end}}
{{define "body"}}
<script>
  window.Price = {};
  Price.defaultPrice = {{.DefaultPrice}};
  Price.defaultCurrency = {{.DefaultCurrency}};
  window.CurrentEvent = {};
  CurrentEvent.id = {{.Event.ID}};
</script>

<!-- Modal -->
<div class="modal fade" id="NoSitsSelected" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{.LBLNoSitsTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{.LBLNoSitsText}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{.BTNNoSitsOK}}</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  {{if $.EventMainBanner}}{{$.EventMainBanner}}{{end}}
  {{if $.EventMainDesc}}<div style="margin-top: 10px;margin-bottom: 10px;">{{$.EventMainDesc}}</div>{{end}}
</div> <!-- end center: "d-flex justify-content-center align-items-center" -->
<ul class="nav nav-tabs flex-nowrap text-nowrap">
{{range .Rooms}}
  <li class="nav-item" id="roomsTabs" role="tablist">
    <a class="nav-link" href="#room-{{.Room.ID}}"id="room-{{.Room.ID}}-tab" name="{{.Room.ID}}" data-toggle="tab" role="tab" aria-controls="room-{{.Room.ID}}">{{.Room.Name}}</a>
  </li>
{{end}}
</ul>
<div id="current-roomID" hidden></div>
<div class="tab-content" id="roomsTabContent">
{{range .Rooms}}
  <div class="tab-pane fade show" id="room-{{.Room.ID}}" role="tabpanel" aria-labelledby="room-{{.Room.ID}}-tab">
    <div id="meta">
      {{if not $.EventMainBanner}}{{.HTMLBannerImg}}{{end}}
      <!-- <h1>{{.Room.Name}}</h1> -->
      <p>{{.HTMLRoomDescription}}</p>
    </div>
    <div class="row">
      <div class="column" style="width: {{.Room.Width}}px;">
        <p id="freesits" class="column">{{.LBLFreeSits}}: {{.SitsFree}}/{{.SitsTotal}}</p>
        <div id="room-view-{{.Room.ID}}" style="width: {{.Room.Width}}px; height: {{.Room.Height}}px; position: relative;" class="room-view ui-widget-header selectable">
        {{range .Tables}}
          <div class="{{.Type}} {{.Orientation.String}}-{{.Capacity.Int64}} ui-widget-content" id="{{.Type}}-{{.Number}}" name={{.Number}} orientation="{{.Orientation.String}}" furniture="{{.Type}}" capacity={{.Capacity.Int64}} style="top: {{.Y}}px; left: {{.X}}px; position: absolute;"><p>{{.Number}}</p></div>
        {{end}}
        {{range .Chairs}}
        <div class="{{.Type}} {{if and .AdminDisabled.Valid (eq .AdminDisabled.Int64 1)}}disabled{{end}} {{.Status.String}} ui-widget-content" id="{{.Type}}-{{.Number}}" name={{.Number}} orientation="{{.Orientation.String}}" room="{{.RoomID}}" furniture="{{.Type}}" price="{{.AdminPrice.Int64}}" currency="{{.AdminCurrency.String}}" orderstatus="{{.Status.String}}" capacity={{.Capacity.Int64}} style="top: {{.Y}}px; left: {{.X}}px; position: absolute;"><p>{{.Number}}</p></div>
        {{end}}
        {{range .Objects}}
          <div class="{{.Type}} ui-widget-content" id="{{.Type}}-{{.Number}}" name={{.Number}} orientation="{{.Orientation.String}}" furniture="{{.Type}}" style="width: {{.Width.Int64}}px; height: {{.Height.Int64}}px; background: {{.Color.String}};top: {{.Y}}px; left: {{.X}}px; position: absolute;"><p>{{.Label.String}}</p></div>
        {{end}}
        {{range .Labels}}
          <div class="{{.Type}} ui-widget-content" id="{{.Type}}-{{.Number}}" name={{.Number}} orientation="{{.Orientation.String}}" furniture="{{.Type}}" style="width: {{.Width.Int64}}px; height: {{.Height.Int64}}px; color: {{.Color.String}};top: {{.Y}}px; left: {{.X}}px; position: absolute;"><p>{{.Label.String}}</p></div>
        {{end}}
        </div>
      </div>

      <div class="column right">
        <div>
          {{.LBLSelected}}: <b><span id="selected-chairs-{{.Room.ID}}" class="selected-chairs"></span></b><br />
	  <div{{if $.Event.HideCosts.Bool}} hidden{{end}}>{{.LBLTotalPrice}}: <b><span id="total-price-{{.Room.ID}}" class="total-price"></span></b></div>
        </div>
        <div id="controls"><button id="order" class="btn btn-primary" onclick="Order()">{{.BTNOrder}}</button></div>
        <div id="how-to">{{.HTMLHowTo}}</div>
    </div>
  </div>
  </div>
{{end}}
</div>
{{end}}
